body {
  margin: 0;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: purple;
}

h1 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
ol {
  border-right: 1px black solid;
  color: greenyellow;
  width: 100px;
  margin: 0;
  padding: 20px;
  font-display: blue;
}
.saw {
  color: blueviolet;
}
.menu {
  width: "100px";
}
#name {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-column: 1/3;
  grid-row: 1;
  color: plum;
  background-color: gray;
  font-display: blue;
}
#another {
  border-right: none;
  background-color: gray;
}
