body{
    margin:0;
}
a {color:red; text-decoration: none;}
h1 {
  text-align: center;
  border-bottom:1px gray solid;
  padding:20px;
  margin:0;
}
ol {
    border-right: 1px gray solid;
    width:100px;
    margin:0;
    padding:20px;
}
.saw {color:gray;}
#active {text-decoration: underline;}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#main {
    grid: none;
}
#another {
    border-right: none;
}
@media(max-width:800px) {
    #grid {
        display: block;
    }
    ol {
        border-right: none;
    }
}